<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/Logs/internal-nlog4.txt">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Database" />
	</extensions>

	<targets>
		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
		<target name="database" xsi:type="Database">
			<dbProvider>Npgsql.NpgsqlConnection, Npgsql</dbProvider>
			<connectionString>
				User Id=postgres;Password=123;Host=localhost;Port=5432;Database=ProjectsDb;Pooling=true;
			</connectionString>
			<commandText>
				insert into "nlogdblog" (
				"application", "logged", "level", "message",
				"exception", "stacktrace", "ip"
				) values (
				:Application, TO_TIMESTAMP(:Logged, 'YYYY/MM/DD HH24:MI:SS'), :Level, :Message,
				:Exception,:Stacktrace, :Ip
				);
			</commandText>
			<parameter name="@Application" layout="TicketSalesService" />
			<parameter name="@Logged" layout="${date}" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Exception" layout="${exception:tostring}" />
			<parameter name="@Stacktrace" layout="${exception:format=StackTrace}" />
			<parameter name="@Ip" layout="${aspnet-request-ip}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Error" writeTo="database" />
		<logger name="*" minlevel="Info" writeTo="lifetimeConsole" />
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole" final="true" />
	</rules>
</nlog>